* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 400px;
  height: 450px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  width: 400px;
  height: 100px;
  background-color: #141f40;
}

.center {
  width: 400px;
  height: 250px;
  overflow: hidden;
}

.left {
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
  float: left;
}

.center-container {
  width: 250px;
  height: 250px;
  float: right;
  overflow: hidden;
}

.center-top {
  width: 150px;
  height: 50px;
  background-color: #dbd400;
}

.center-center {
  width: 150px;
  height: 100px;
  background-color: #0093b7;
}

.right {
  width: 100px;
  height: 150px;
  float: right;
  background-color: #ff9e6b;
}

.center-low {
  width: 250px;
  height: 100px;
  background-color: #8c2727;
}

.footer {
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}

