@media (min-width:480px) and (max-width: 767px) {

  .wrapper {
    width: 250px;
    margin: 0 auto;
  }

  .header {
    width: 250px;
  }
  
  .center {
    width: 100px;
    margin-left: 150px;
  }

  .footer {
    width: 250px;
  }
}


@media (max-width: 479px) {
 
  .wrapper {
    width: 250px;
    margin: 0 auto;
  }

  .header {
    width: 150px;
  }

  .left {
    float: none;
  }
  
  .center {
    width: 150px;
    margin: 0;
  }

  .footer {
    width: 150px;
  }

  
}
